<!-- <div *ngFor="let layer of ['events', 'restaurants', 'landmarks']; let i = index">
    <input type="checkbox" [id]="layer" [checked]="true" (change)="toggleLayerVisibility(layer, $event)">
    <label [for]="layer">{{layer}}</label>
  </div> -->

  <div class="map-layers">
  @for( layer of layers; track $index) {
    <div>
        <input type="checkbox" [id]="layer" [checked]="true" (change)="toggleLayerVisibility(layer, $event)">
    <label [for]="layer">{{layer}}</label>
    </div>
    
  }
</div>
<div #mapDiv class="map-container">  
</div>
