#modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    background: #ffffff;
    border-radius: 5%;
    z-index: 100;
    border: 1px solid rgb(196, 196, 196);
    padding: 30px 0px 30px 0;
}


.modal {
    &_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 100%;
        justify-content: center;

        h2 {
            margin-bottom: 20px;
            font-size: 1rem;
        }
    }

    &_inputs {
        width: 400px;
        margin-bottom: 20px;

        input {
            width: 100%;
            padding: 12px;
            border-radius: 10px;
            border: none;
            background-color: #E9E8F0;
            font-size: 14px;
        }


    }

    &-btns {
        display: flex;
        gap: 10px;
    }

    &_btn-create,
    &_btn-cancel {
        padding: 14px 24px;
        background-color: #4e535a;
        border: #4e535a;
        font-weight: 700;
        font-size: 0.875rem;
        width: 100%;
        border-radius: 30px;
        color: #ffffff;
        text-transform: uppercase;
        letter-spacing: 3px;
        cursor: pointer;
        margin-bottom: 20px;
    }

    &_btn-cancel {
        background-color: #ffffff;
        color: #353131;
    }

    &-geo,
    &-type,
    &-date,
    &-btns {
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }

    &-btns button {
        width: 100%;
    }

    &-layer {
        z-index: 95;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, .8)
    }
}

label {
    color: #c5c5c5;
}

.contact-invalid {
    color: red;
    font-size: 12px;
    position: absolute;
}