.map-loading {
    // z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #353131;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.map-text {
    text-align: center;
    color: white;
}