#modal {
    background: #353131;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
}


.modal {
    &_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 100%;
        justify-content: center;

        h2 {
            color: #ffffff;
            margin-bottom: 30px;
        }
    }

    &_inputs {
        width: 400px;
        margin-bottom: 30px;

        input {
            width: 100%;
            padding: 16px;
            border-radius: 10px;
            border: none;
            background-color: #E9E8F0;
            font-size: 14px;
        }
    }

    &_btn {
        padding: 14px 24px;
        background-color: #4e535a;
        border: #4e535a;
        font-weight: 700;
        font-size: 0.875rem;
        width: 100%;
        border-radius: 30px;
        color: #ffffff;
        text-transform: uppercase;
        letter-spacing: 3px;
        cursor: pointer;
        margin-bottom: 20px;

        &-cancel {
            padding: 14px 24px;
            background-color: #ffffff;
            border: #4e535a;
            font-weight: 700;
            font-size: 0.875rem;
            width: 100%;
            border-radius: 30px;
            color: #4e535a;
            letter-spacing: 3px;
            cursor: pointer;
        }
    }


}