<main>
    <div class="showcase">
        <div class="showcase-top">
            <h1>el mundo es un gran lugar para correr</h1>
            <a href="#info" title="Todas nuestras carreras"><fa-icon class="showcase-icon"
                    [icon]="faMapLocation"></fa-icon>Todas nuestras
                carreras</a>
        </div>
        <span class="showcase-down">
            <a href="#info">></a>
        </span>
    </div>
    <section id="info">
        <table class="table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Name</th>
                    <th>City</th>
                    <th>Type</th>
                    <th>Route Type</th>
                    <th>Distance</th>
                    <th>Placeholder</th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-even">
                    <td>2024-03-02</td>
                    <td>Example Name</td>
                    <td>Example City</td>
                    <td>Example Type</td>
                    <td>Example Route Type</td>
                    <td>10km</td>
                    <td class="info-flex"><button class="info-btn">Edit</button><button class="info-btn">Del</button>
                    </td>
                </tr>
                <tr class="bg-pair">
                    <td>2024-03-02</td>
                    <td>Example Name</td>
                    <td>Example City</td>
                    <td>Example Type</td>
                    <td>Example Route Type</td>
                    <td>10km</td>
                    <td class="info-flex"><button class="info-btn">Edit</button><button class="info-btn">Del</button>
                    </td>
                </tr>
                <tr class="bg-even">
                    <td>2024-03-02</td>
                    <td>Example Name</td>
                    <td>Example City</td>
                    <td>Example Type</td>
                    <td>Example Route Type</td>
                    <td>10km</td>
                    <td class="info-flex"><button class="info-btn">Edit</button><button class="info-btn">Del</button>
                    </td>
                </tr>
                <!-- Add more rows here -->
            </tbody>
        </table>
        <button class="info-add">Add race</button>
    </section>
</main>