<main style="position: relative;">
    <div class="showcase">
        <div class="showcase-top">
            <h1>el mundo es un gran lugar para correr</h1>
            <a href="#info" title="Todas nuestras carreras"><fa-icon class="showcase-icon"
                    [icon]="faMapLocation"></fa-icon>Todas nuestras
                carreras</a>
        </div>
        <span class="showcase-down">
            <a href="#table" (click)="goToSection($event)">></a>
        </span>
    </div>
    <section id="info">
        <table id="table" class="table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Name</th>
                    <th>City</th>
                    <th>Type</th>
                    <th>Route Type</th>
                    <th>Distance</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @if(eventsResults) {
                @for( event of eventsResults; track $index) {
                <tr class="bg-even">
                    <td>{{event.event_date}}</td>
                    <td>{{event.name}}</td>
                    <td>{{event.city}}</td>
                    <td>{{event.type}}</td>
                    <td>{{event.route_type}}</td>
                    <td>{{event.distance}}</td>
                    <td class="info-flex">
                        <button class="info-btn_update" (click)="updateEventModal(event)">Edit</button>
                        <button class="info-btn_del" (click)="delEvent(event)">Del</button>
                    </td>
                </tr>
                }
                } @else {
                <span>no results</span>
                }



            </tbody>
        </table>
        <button (click)="downloadEvents()" class="info-csv">Download csv</button>
        <button (click)="createEventModal()" class="info-add">Add race</button>
        
    </section>
</main>
@if(showModal) {
<app-modal [mode]="modalMode" [eventData]="selectedEvent" (modalChanged)="toggleModal()"></app-modal>
}