.showcase {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../../../assets/running_back.jpg) no-repeat;
    background-size: cover;
    background-attachment: local;
    overflow: hidden;

    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        background: #26292e url(../../../assets/pattern.png) repeat;
        opacity: .6;
        z-index: 0;
    }

    &-top {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 60%;
        text-align: center;
        z-index: 2 !important;

        h1 {
            font-size: 5rem;
            color: #fff;
            text-transform: uppercase;
            letter-spacing: -4px;
            margin-bottom: 40px;
            line-height: 5rem;
        }

        a {
            i {
                padding: 0 15px;
            }

            display: inline-block;
            color: #fff;
            text-transform: uppercase;
            padding: 12px 50px;
            background:rgba(0, 157, 223, 0.5);
            border: 1px solid rgba(0, 157, 223, 0.8);
            transition: padding .3s linear;

            &:hover {
                padding: 12px 70px;
            }
        }
    }

    &-icon {
        margin-right: 20px;
    }

    &-down {
        position: absolute;
        bottom: 20px;
        transform: rotate(90deg);
        left: 0;
        width: 20px;
        right: 0;
        z-index: 2 !important;
        margin: 0 auto;
        animation: mouse 1s ease-in-out 1s infinite;

        a {
            color: #fff;
            font-size: 3rem;
        }
    }
}



#info {
    max-width: 920px;
    margin: 0 auto;
}

.table {
    width: 100%;
    margin: 60px 0 10px 0;
    text-align: center;
    color: #000000;
}

thead th {
    font-size: 1rem;
    border-bottom: 1px gray;
    padding-bottom: 10px;

}

tbody tr {
    border-bottom: 1px solid gray;
   
}

tbody td {
    font-size: 14px;
    padding: 20px 10px;
   

}

.bg-pair {
    background-color: #f0f0f0;
}

.bg-even {
    background-color: #f0f0f0;
    &:hover {
        background: #b4b4b4 !important;
        transition: 1s ease;
    }
}

.info {
    margin-bottom: 60px;
    &-flex {
        display: flex;
        justify-content: space-around;
    }

    &-btn {
        
        &_update {
            background: #ffd000;
            border: none;
            padding: 10px;
            cursor: pointer;
            border-radius: 5px;
            &:hover {
                background: #cee646;
        transition: 1s ease;

            }
            
        }
        &_del {
            border-radius: 5px;
            background: #ff4e4e;
            border: none;
            padding: 10px;
            cursor: pointer;
            color: #ffffff;
            &:hover {
                background: #f07c7c;
        transition: 1s ease;

            }
        }
    }
    &-add {
        font-size: 12px;
        padding: 10px 20px;
        cursor: pointer;
        background: #057e01;
        border: none;
        color: #ffffff;
        // text-transform: uppercase;
        letter-spacing: 3px;
        border-radius: 5px;
        &:hover {
        background: #87fa83;
        transition: 1s ease;


        }
    }
    &-csv {
        font-size: 12px;
        padding: 10px 20px;
        cursor: pointer;
        background: #0d7ee7;
        border: none;
        color: #ffffff;
        // text-transform: uppercase;
        letter-spacing: 3px;
        border-radius: 5px;
        margin-right: 15px;
        &:hover {
        background: #7ebaf1;
        transition: 1s ease;


        }
    }
}

@keyframes mouse {
    0% {
        bottom: 20px;
    }

    25% {
        bottom: 25px;
    }

    50% {
        bottom: 30px;
    }

    75% {
        bottom: 25px;
    }

    100% {
        bottom: 20px;
    }
}